asgiref
boto3
botocore
certifi
charset-normalizer
dj-database-url
Django
django-storages
gunicorn
idna
packaging
psycopg2-binary
python-dateutil
python-dotenv
pytz
requests
six
sqlparse
typing_extensions
tzdata
urllib3
aws-requests-auth
