Django
gunicorn
python-dotenv
psycopg2-binary
boto3
botocore
requests
python-dateutil
pytz
PyYAML
dj-database-url
django-storages
django-vite
django_components
whitenoise
Brotli
certifi
charset-normalizer
idna
jmespath
loguru
packaging
s3transfer
six
tzdata
urllib3
